# .env.example
VITE_SUPABASE_URL=https://eherntobsyrxxijhwzjt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoZXJudG9ic3lyeHhpamh3emp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3Mjc1NDIsImV4cCI6MjA4ODMwMzU0Mn0.LplBxO5k5ZbA_eG6BqIpvqbT6KBA0TR5gCZHSZs8oBg
